In [3]:
with open(r"C:\Users\Yadhnesh\Dropbox\PC\Downloads\weather_data.csv") as file:
    data = file.readlines()
    for i in data:
        d = i.strip()
        print(d)

day,temp,condition
Monday,12,Sunny
Tuesday,14,Rain
Wednesday,15,Rain
Thursday,14,Cloudy
Friday,21,Sunny
Saturday,22,Sunny
Sunday,24,Sunny

##### To make the contents of the file more readable, I have used the strip() function to remove the \n appended at the end of line

In [4]:
print(data)

['day,temp,condition\n', 'Monday,12,Sunny\n', 'Tuesday,14,Rain\n', 'Wednesday,15,Rain\n', 'Thursday,14,Cloudy\n', 'Friday,21,Sunny\n', 'Saturday,22,Sunny\n', 'Sunday,24,Sunny']

##### Data variable is a list. The readlines() function returns the characters of each lines as an element in a list

##### We can also do this using the built in csv module

In [5]:
import csv

In [8]:
with open(r"C:\Users\Yadhnesh\Dropbox\PC\Downloads\weather_data.csv") as file:
    data = csv.reader(file)
    for row in data:
        print(row)

['day', 'temp', 'condition']
['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']

##### Printing only temperatures

In [13]:
with open(r"C:\Users\Yadhnesh\Dropbox\PC\Downloads\weather_data.csv") as file:
    data = csv.reader(file)
    for row in data:
        print(row[1])

temp
12
14
15
14
21
22
24

In [14]:
with open(r"C:\Users\Yadhnesh\Dropbox\PC\Downloads\weather_data.csv") as file:
    data = csv.reader(file)
    for row in data:
        print(row[1], row[2])

temp condition
12 Sunny
14 Rain
15 Rain
14 Cloudy
21 Sunny
22 Sunny
24 Sunny

In [16]:
with open(r"C:\Users\Yadhnesh\Dropbox\PC\Downloads\weather_data.csv") as file:
    data = csv.reader(file)
    for row in data:
        if (row[1] == "temp"):
            continue
        print(row[1])
        
#Excluding first row temp

12
14
15
14
21
22
24

##### Pandas module is more complex and more vast librery than csv, it has more advanced functions

In [17]:
import pandas

In [19]:
data = pandas.read_csv(r"C:\Users\Yadhnesh\Dropbox\PC\Downloads\weather_data.csv")
print(data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

##### We can see how pandas automatically aligns it and spaces out the contents neatly, as well as provides an index number

In [20]:
print(data["temp"])

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

##### Column name is stored in square brackets

In [24]:
print(data[["temp", "day", "condition"]])

   temp        day condition
0    12     Monday     Sunny
1    14    Tuesday      Rain
2    15  Wednesday      Rain
3    14   Thursday    Cloudy
4    21     Friday     Sunny
5    22   Saturday     Sunny
6    24     Sunday     Sunny

In [25]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

##### Dataframe and series are two types of datatypes in pandas. Dataframe refers to anything stored in a tabular format

In [26]:
print(type(data["day"]))

<class 'pandas.core.series.Series'>

##### Series refers to a single row or a column, equivalent to a list

##### We can convert the table into a dictionary using the to_dict() function

In [27]:
d = data.to_dict()
print(d)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [31]:
l = data["temp"].to_list()
print(l)

# Converting to list is also possible

[12, 14, 15, 14, 21, 22, 24]

##### Finding average of temperatures

In [34]:
s = 0
for i in l:
    s = i + s
avg = s//7
print(avg)

17

##### Instead of doing the above, we can simply use the mean() function to find average temperature

In [36]:
print(data["temp"].mean())
print(int(data["temp"].mean()))

17.428571428571427
17

In [40]:
print(data["temp"].max())

# printing maximum value using built-in function max()

24

In [41]:
print(data.condition)

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [42]:
print(data["condition"])

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

##### Data from the csv file can also be called as an object and printed

In [44]:
print(data[data.day == "Monday"])

      day  temp condition
0  Monday    12     Sunny

In [45]:
print(data[data.temp == data.temp.max()])

      day  temp condition
6  Sunday    24     Sunny

In [50]:
monday = data[data.day == "Monday"]
print(monday.condition)

0    Sunny
Name: condition, dtype: object

In [58]:
t = monday.temp
print(t, "\nThis is temp of Monday\n")
print(((t*9)/5) + 32, "\nThis is temp in F")

0    12
Name: temp, dtype: int64
This is temp of Monday

0    53.6
Name: temp, dtype: float64
This is temp in F

#### Creating a dataframe from scratch

In [59]:
# Firstly we create a dictionary that stores the values of the dataframe

dict = { "Names" : ["Adi", "Yadh", "Dwinky"],
         "Age" : ["20", "19", "69"] }

data = pandas.DataFrame(dict)
print(data)

    Names Age
0     Adi  20
1    Yadh  19
2  Dwinky  69

In [61]:
# This can also be stored into a csv file

data.to_csv(r"D:\Yadh Documents\100 Days of Code Python\data.csv")